body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: #222;
  color: #ccc; }

img {
  border: 0; }

a {
  color: #ccc;
  text-decoration: none; }
  a:hover {
    color: #999; }

.mainhead {
  padding: 10px 0;
  border-bottom: 1px solid #666666; }
  .mainhead .right {
    float: right; }

.wrapper {
  padding-top: 20px;
  width: 975px;
  margin: 0 auto;
  position: relative; }
  .wrapper #todays_deals,
  .wrapper #yesterdays_deals {
    padding: 10px 12px;
    width: 948px;
    zoom: 1; }
    .wrapper #todays_deals:before, .wrapper #todays_deals:after,
    .wrapper #yesterdays_deals:before,
    .wrapper #yesterdays_deals:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .wrapper #todays_deals:after,
    .wrapper #yesterdays_deals:after {
      clear: both; }
    .wrapper #todays_deals .item,
    .wrapper #yesterdays_deals .item {
      float: left;
      box-shadow: 0 3px 10px -3px black;
      margin: 3px;
      position: relative;
      overflow: hidden;
      z-index: 10;
      white-space: nowrap; }
      .wrapper #todays_deals .item img,
      .wrapper #yesterdays_deals .item img {
        display: block;
        width: 150px;
        height: 123px; }
      .wrapper #todays_deals .item.active,
      .wrapper #yesterdays_deals .item.active {
        border: 3px solid #45a0e6;
        box-shadow: 0 0 20px 2px #55b0f6;
        z-index: 5;
        margin: 0; }
  .wrapper #slider_feature_container {
    width: 952px;
    height: 412px;
    overflow: hidden;
    z-index: 50;
    box-shadow: 0 0 5px #45a0e6;
    position: relative;
    margin: 8px 11px;
    clear: both;
    zoom: 1; }
    .wrapper #slider_feature_container:before, .wrapper #slider_feature_container:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .wrapper #slider_feature_container:after {
      clear: both; }
    .wrapper #slider_feature_container #slider_feature {
      width: 14280px;
      position: relative;
      left: -952px; }
      .wrapper #slider_feature_container #slider_feature .item {
        border: 4px solid #45a0e6;
        background: #000;
        float: left;
        position: relative;
        padding: 2px; }
        .wrapper #slider_feature_container #slider_feature .item img {
          width: 940px;
          height: 400px;
          display: block; }
  .wrapper #slider_left_container,
  .wrapper #slider_right_container {
    position: absolute;
    top: 216px;
    width: 794px;
    height: 338px;
    overflow: hidden;
    z-index: 20; }
  .wrapper #slider_left,
  .wrapper #slider_right {
    width: 142800px;
    position: relative; }
    .wrapper #slider_left .item,
    .wrapper #slider_right .item {
      float: left;
      width: 794px;
      height: 338px;
      background: #485D6C;
      overflow: hidden; }
  .wrapper #slider_left_container {
    right: 963px; }
  .wrapper #slider_right_container {
    left: 963px; }
    .wrapper #slider_right_container #slider_right {
      left: -794px; }
  .wrapper #slide_prev,
  .wrapper #slide_next {
    position: absolute;
    top: 366px;
    width: 18px;
    height: 35px;
    background: white;
    z-index: 25;
    cursor: pointer; }
  .wrapper #slide_prev {
    right: 970px;
    background: url("images/arrow_left.png") top left no-repeat; }
  .wrapper #slide_next {
    left: 970px;
    background: url("images/arrow_right.png") top left no-repeat; }

/* 3D Outward
.wrapper {
	-webkit-perspective: 1600px;
	-moz-perspective: 1600px;
	perspective: 1600px;
	#slider_left_container {
		-webkit-transform: rotateY(60deg) scale(1.6);
		-moz-transform: rotateY(60deg) scale(1.6);
		transform: rotateY(60deg) scale(1.6);
		right: 1044px;
	}
	#slider_right_container {
		-webkit-transform: rotateY(-60deg) scale(1.6);
		-moz-transform: rotateY(-60deg) scale(1.6);
		transform: rotateY(-60deg) scale(1.6);
		left: 1044px;
	}
}
*/
/* 3D Inward
.wrapper {
	-webkit-perspective: 1600px;
	#slider_left_container {
		-webkit-transform: rotateY(-40deg);
		right: 794px;
	}
	#slider_right_container {
		-webkit-transform: rotateY(40deg);
		left: 794px;
	}
}
*/
